ALTER TABLE live_broadcast ADD COLUMN playback_state TEXT DEFAULT 'playing'; ALTER TABLE live_broadcast ADD COLUMN current_video_time REAL DEFAULT 0; ALTER TABLE live_broadcast ADD COLUMN last_sync_time TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now());
